<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coddingcoggies.mapper.mainPageMapper">
<select id="getAllSpecialDate" resultType="coddingcoggies.dto.SpecialDate">
	SELECT * FROM diary_specialDate
	ORDER BY specialDate_type, specialDate_date
	<!--
	WHERE member_no = #{member_no} 
	AND TO_CHAR(specialDate_date,'MM') = #{thisMonth}   
	-->
</select>

</mapper>