<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Diary Main</title>
    <link rel="stylesheet" href="/css/diaryMain.css">
	<script type="text/javascript" src="/js/diaryMain.js"></script>

<title>다이어리메인</title>
 <script type="text/javascript"
        src="https://code.jquery.com/jquery-3.7.1.js"></script>    
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/diaryMain.css">
<script type="text/javascript" src="/js/diaryMain.js"></script>

</head>
<body>
	<div class="calendar-container">
		<div class="header" id="calendar-header"
			th:text="${session.loginSession.member_diaryname}+ ' 일기장 ' + ${todayHeader}"></div>
		<!-- mainHeaderText 구하기 -->

		<div class="sidebar">
			<div class="today-info" id="today-info" th:text="'오늘은 '+${todayInfo}"></div>

			<!-- controller 현재날짜 ㄱ -->
			<div class="legend">
				<div class="legend-item" th:each="sd : ${specialDateList}">
					<span th:style="'background-color:' + ${sd.specialDate_color}"></span>
					<th:block
						th:text="${sd.dateDisplayText} +' '+${sd.specialDate_name}"></th:block>
				</div>
			</div>
			<div class="buttons">
				<button>기념일 수정</button>
				<button>기념일 제작</button>
			</div>


			<div class="home-key-icons" th:if="${session.loginSession != null}">
				<a href="/diaryMain"><img src="/img/home-icon.png" alt="Home"></a>
				<a href="/logout"><img src="/img/key-icon.png" alt="Key"></a>
				<a href="/testLink">테스트 링크로 이동하기</a>
			</div>



		</div>
	</div>
	<!-- 달력 뿌려주기(날) -->
	<div class="calendar" id="calendar">
		<div th:each="dayName: ${dayNameList}">
			<div class="day" th:text="${dayName}"
				style="background-color: #000000; color: #ffffff"></div>
		</div>
		    <div th:each="calDay : ${mainCalendardays}" class="day">
       <!--   <a th:href="@{'/diaryView/'+${calDay.diary_id}}" th:text="${calDay.dayNum}" -->
       <a th:href="@{${calDay.diaryYN}==true? '/diaryView/'+ ${calDay.diary_id} : '/diaryWrite/'+
       ${session.loginSession.member_id}+'/'+${todayInfo}}"   
       th:text="${calDay.dayNum}"
        th:classappend="${calDay.diaryYN==true? 'day-star' : 'noDiaryCalDay'}"></a>
        
        
        <!--<th:block th:if="${calDay.diaryYN}">
              <}"class="day-star"></a>-->
              <th:block >
              
              </th:block>
        	
			<th:block th:if="${calDay.specialDateYN}"></th:block>
		</div>
	</div>


	<div class="image-container">
		<img src="left-arrow.png" alt="Previous"> <img
			src="character.png" alt="Character"> <img src="right-arrow.png"
			alt="Next">
	</div>
</body>
</html>