<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>메인화면</title>
<link rel="stylesheet" href="loginStyles.css">


</head>

<body>
	<div class="container">
		<form class="login-form">
			<div class="form-group">
				<label>USERNAME : &nbsp; </label>
				<input type="text" class="input-text"><br>
			</div>
			
			<div class="form-group">
				<label>PASSWORD : &nbsp; </label>
				<input type="text" class="input-text"><br>
			</div>
	
				<button type="submit" class="logInButton" onclick="logIn">LOG&nbsp;&nbsp;&nbsp;IN</button>
				<button type="button" class="signUpButton" onclick="signUp">SIGN UP</button>
			
		</form>
	</div>


</body>

