<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>디데이입력 화면</title>
<link rel="stylesheet" href="/css/specialDate.css">

</head>
<body>
	<div class="container">
        <form class="Dday-form">
		<div class="Dday-Anniv">
			<input type="radio" class="selectType">D-day &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" class="selectType">기념일
		</div>
		<br>
		
		<div class="selectDate">
			<label>날짜선택 : </label>
			<input type="date" class="DdaySelect">
		</div>
		<br>
		
		<div class="contentArea">
		<label>내용 : </label>
		<input type="text" class="DdayContent">
		</div>
		<br>
		
		<button type="submit" class="save-Btn" onclick="">저   장</button>
		<button type="submit" class="delete-Btn" onclick="">삭   제</button>
        </form>
	</div>
        


</body>
</html>